﻿@model OnlineAdmissionSystem.Models.Application
@using OnlineAdmissionSystem.Helpers

@{
    ViewBag.Title = "Details";
}
<h2>PersonalInfo</h2>
<br />
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li class="active"><a href="/Applications/Details" role="tab">Personal Information</a></li>
    <li><a href="/Applications/EducationDetails/@Model.ApplicationId" role="tab">Educational Details</a></li>
    <li><a href="/Applications/EnclosedDocuments/@Model.ApplicationId" role="tab">Enclosed Documents</a></li>
</ul>
<!-- Tab Content Containers -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="_PersonalInfo">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.User.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TelePhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TelePhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Photo)
                </dt>

                <dd>
                    @if (Model.Photo != null)
                    {
                        @Html.GetThumbnail(Model.Photo)
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegistrationDate)
                </dd>

                <dt>
                    Department
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Department.DepartmentId)
                </dd>

                <dt>
                    Program
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Program.ProgramId)
                </dd>

            </dl>
        </div>
    </div>
    <div class="tab-pane fade" id="_EducationDetails"></div>
    <div class="tab-pane fade" id="_EnclosedDocuments"></div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
