﻿@model IEnumerable<OnlineAdmissionSystem.Models.EducationDetail>
@using OnlineAdmissionSystem.Models

@{
    ViewBag.Title = "EducationDetails";
}

<h2>EducationDetails</h2>
<br />
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li><a href="/Applications/Details/@ViewBag.Id" role="tab">Personal Information</a></li>
    <li class="active"><a href="/Applications/EducationDetails/@ViewBag.Id" role="tab">Educational Details</a></li>
    <li><a href="/Applications/EnclosedDocuments/@ViewBag.Id" role="tab">Enclosed Documents</a></li>
</ul>
<!-- Tab Content Containers -->
<div class="tab-content">
    <div class="tab-pane fade" id="_PersonalInfo"></div>
    <div class="tab-pane fade in active" id="_EducationDetails">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Qualification)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BoardUniversity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subjects)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Percentage)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qualification)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BoardUniversity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subjects)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Percentage)
                    </td>
                </tr>
            }
        </table>

    </div>
    <div class="tab-pane fade" id="_EnclosedDocuments"></div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>


