﻿@model IEnumerable<OnlineAdmissionSystem.Models.EnclosedDocument>
@using OnlineAdmissionSystem.Helpers


<h2>EnclosedDocuments</h2>
<br />
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li><a href="/Applications/Details/@ViewBag.Id" role="tab">Personal Information</a></li>
    <li><a href="/Applications/EducationDetails/@ViewBag.Id" role="tab">Educational Details</a></li>
    <li class="active"><a href="/Applications/EnclosedDocuments/@ViewBag.Id" role="tab">Enclosed Documents</a></li>
</ul>
<!-- Tab Content Containers -->
<div class="tab-content">
    <div class="tab-pane fade" id="_PersonalInfo"></div>
    <div class="tab-pane fade" id="_EducationDetails"></div>
    <div class="tab-pane fade in active" id="_EnclosedDocuments">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentFile)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @*@Html.ActionLink("View Document", "/EnclosedDocuments/ViewDocument", new { id = item.Id })*@
                        <a href="/EnclosedDocuments/ViewDocument/@item.Id" role="tab">View Document</a>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>




