﻿
@{
    ViewBag.Title = "SignalRExample";
}

<h2>SignalRExample</h2>

<div class="row">
    <div class="col-md-3">
        @using (Ajax.BeginForm("SendToServer", "Students",
                            new AjaxOptions()
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "requestMsg"
                            }))
        {
            <div class="input-group addon">
                <input class="form-control" placeholder="send message" name="message" type="text" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        }
    </div>
</div>

<div id="requestMsg">

</div>

<div id="msg">

</div>
@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>

        $(document).ready(function () {
            var myHub = $.connection.myHub;
            myHub.client.updateClient = function (message) {
                $('#msg').append("<div>" + message + "</div>")
            };
            $.connection.hub.start().done(function () {
            });
        });
    </script>
}