﻿@using BlogAssignment.Helper
@model IEnumerable<BlogAssignment.Models.Post>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-1">Welcome to the blog</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var item in Model)
            {
                <div class="post-preview">
                    <h2 class="post-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h2>
                    <h4 class="post-subtitle">
                        Posted by
                        @*<a href="#"> @Html.DisplayFor(modelItem => item.UserFullName)</a>*@
                        @Html.ActionLink(item.UserFullName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </h4>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            Created at
                            <span>@Html.DisplayFor(modelItem => item.CreatedOn)</span>
                        </li>
                        <li class="list-inline-item">
                            Updated at
                            <span>@Html.DisplayFor(modelItem => item.UpdatedOn)</span>
                        </li>
                        <li class="list-inline-item">
                            Posted at
                            <span>@Html.DisplayFor(modelItem => item.PostedOn)</span>
                        </li>
                    </ul>
                </div>
                <blockquote class="blockquote text-center">
                    @Html.DisplayFor(modelItem => item.Content)
                    @if (item.Photo != null)
                    {
                        @Html.GetThumbnail(item.Photo)
                    }
                </blockquote>
                <div class="post-subtitle">
                    @foreach (var comment in item.Comments)
                    {
                        @Html.Partial("_CommentPartial", comment)
                    }
                </div>
                <p>
                    @Html.ActionLink("Add new comments", "Create", "Comments")
                </p>
            }
        </div>
     </div>
</div>
