﻿@using Microsoft.AspNet.Identity
@using OnlineAdmissionSystem.Models
@model OnlineAdmissionSystem.Models.Application
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <h2>Hi! @User.Identity.GetUserName()</h2>
                if (User.IsInRole(RoleName.CanManage))
                {
                    <h5>@Html.ActionLink("Applications", "Index", "Applications")</h5>
                    <img src="https://continuingeducation.johnabbott.qc.ca/wp-content/uploads/2020/02/it-courses.jpg" width="720" alt="image keyboard" />
                }
                else
                {
                    <h1>Pre Admission Online Registration - </h1>
                    <ul id="tabstrip" class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="/Applications/Index">Registered Personal Details</a>
                        </li>
                        <li>
                            <a href="/EducationDetails/Index">Educational Details</a>
                        </li>
                        <li>
                            <a href="/EnclosedDocuments/Index">Enclosed Documents</a>
                        </li>
                    </ul>
                    <img src="https://continuingeducation.johnabbott.qc.ca/wp-content/uploads/2020/02/it-courses.jpg" width="720" alt="image keyboard" />
                }
            }
            else
            {
                <h1 class="display-1">Welcome to the Online Admission System</h1>
                <a href="/Account/Register" class="list-group-item list-group-item-action active">
                    <img src="https://continuingeducation.johnabbott.qc.ca/wp-content/uploads/2020/02/it-courses.jpg" width="720" alt="image keyboard" />
                    <span>Register New Application</span>
                </a>
            }

        </div>
        <div class="col-lg-8 col-md-10 float-right">
            <a href="http://www.johnabbott.qc.ca/" target="_blank">
                <img src="https://continuingeducation.johnabbott.qc.ca/wp-content/uploads/2020/02/Blue.svg" alt="John Abbot college" />
            </a>
        </div>
    </div>
</div>
