﻿@using OnlineAdmissionSystem.Helpers
@*@model IEnumerable<OnlineAdmissionSystem.Models.Application>*@
@using PagedList.Mvc
@model PagedList.IPagedList<OnlineAdmissionSystem.Models.Application>

<table class="table">
<tr>
    <th>
        @Html.ActionLink("Email", "Index", new { sortOrder = "email", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
        @Html.GetArrow((string)ViewBag.sortOrder, "email", (string)ViewBag.sortDir)
        @*@Html.DisplayNameFor(model => model.User.Email)*@
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.FirstName)*@
        @Html.ActionLink("FirstName", "Index", new { sortOrder = "firstname", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
        @Html.GetArrow((string)ViewBag.sortOrder, "firstname", (string)ViewBag.sortDir)
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.LastName)*@
        @Html.ActionLink("LastName", "Index", new { sortOrder = "lastname", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
        @Html.GetArrow((string)ViewBag.sortOrder, "lastname", (string)ViewBag.sortDir)
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.TelePhoneNumber)*@
        @Html.ActionLink("TelePhoneNumber", "Index", new { sortOrder = "telephonenumber", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
        @Html.GetArrow((string)ViewBag.sortOrder, "telephonenumber", (string)ViewBag.sortDir)
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.Photo)*@
        Photo
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.Department.Name)*@
        @*Department*@
        @Html.ActionLink("Department", "Index", new { sortOrder = "department", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
        @Html.GetArrow((string)ViewBag.sortOrder, "department", (string)ViewBag.sortDir)
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.Program.Name)*@
        @*Program*@
        @Html.ActionLink("Program", "Index", new { sortOrder = "program", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
        @Html.GetArrow((string)ViewBag.sortOrder, "program", (string)ViewBag.sortDir)
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.RegistrationDate)*@
        @Html.ActionLink("RegistrationDate", "Index", new { sortOrder = "registrationdate", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
        @Html.GetArrow((string)ViewBag.sortOrder, "registrationdate", (string)ViewBag.sortDir)
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.Status)*@
        @Html.ActionLink("Status", "Index", new { sortOrder = "status", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
        @Html.GetArrow((string)ViewBag.sortOrder, "status", (string)ViewBag.sortDir)
    </th>
    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelePhoneNumber)
        </td>
        <td>
            @if (item.Photo != null)
            {
                @Html.GetThumbnail(item.Photo)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ApplicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId })
        </td>
    </tr>
}

</table>


@Html.PagedListPager(
    Model,
    page => Url.Action("Index",
                     new { page, sortOrder = ViewBag.sortOrder, sortDir = ViewBag.sortDir, currentFilter = ViewBag.currentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                                                        new AjaxOptions()
                                                        {
                                                        HttpMethod = "GET",
                                                        UpdateTargetId = "grid"
                                                        }
        )
    )

