﻿@using RaceRegistration.Helpers
@using PagedList.Mvc
@model PagedList.IPagedList<RaceRegistration.Models.Runner>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = "name", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
            @Html.GetArrow((string)ViewBag.sortOrder, "name", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Gender", "Index", new { sortOrder = "gender", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
            @Html.GetArrow((string)ViewBag.sortOrder, "gender", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = "email", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
            @Html.GetArrow((string)ViewBag.sortOrder, "email", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Telephone", "Index", new { sortOrder = "telephone", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
            @Html.GetArrow((string)ViewBag.sortOrder, "telephone", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Event Name", "Index", new { sortOrder = "eventname", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
            @Html.GetArrow((string)ViewBag.sortOrder, "eventname", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Event Status", "Index", new { sortOrder = "eventstatus", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
            @Html.GetArrow((string)ViewBag.sortOrder, "eventstatus", (string)ViewBag.sortDir)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(item.FirstName + " " + item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @(item.Event.IsClosed == true ? " Closed" : "Open")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RunnerId }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.RunnerId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.RunnerId })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(
    Model,
    page => Url.Action("Index",
                     new { page, sortOrder = ViewBag.sortOrder, sortDir = ViewBag.sortDir, currentFilter = ViewBag.currentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                                                        new AjaxOptions()
                                                        {
                                                        HttpMethod = "GET",
                                                        UpdateTargetId = "grid"
                                                        }
        )
    )

