﻿@model OnlineAdmissionSystem.Models.EnclosedDocument

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnclosedDocument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentFile)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DocumentFile)*@
            @Html.ActionLink("View Document", "ViewDocument", new { id = Model.Id })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
