﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="Day02DataBindinf.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    Search: <asp:TextBox runat="server" ID="txtCriteria"></asp:TextBox>
    <asp:Button ID="btnSubmit" runat="server" OnClick="btnSubmit_Click" />
    <asp:GridView ID="grvProducts" runat="server" AutoGenerateColumns="False">

        </asp:GridView>
</asp:Content>
