﻿@model BlogAssignment.Models.Comment

<div>
    <hr />
    <blockquote class="blockquote text-right">
        @Html.DisplayFor(model => model.Content)
        <footer class="blockquote-footer">
            @Html.ActionLink(Model.UserFullName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            @*@Html.DisplayFor(model => model.UserFullName)*@ in <cite title="Source Title">@Html.DisplayFor(model => model.UpdatedOn)</cite>
        </footer>
    </blockquote>
</div>