﻿@using BlogAssignment.Helper
@*@model IEnumerable<BlogAssignment.Models.Post>*@
@using PagedList.Mvc
@model PagedList.IPagedList<BlogAssignment.Models.Post> 

<table class="table">
<tr>
    <th>
        @*@Html.ActionLink("Title", "Index", new { sortOrder = "title", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter })
        @Html.GetArrow((string)ViewBag.sortOrder, "title", (string)ViewBag.sortDir)*@
        @Html.ActionLink("Title", "Index", new { sortOrder = "title", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
                                                                                       {
                                                                                           HttpMethod = "GET",
                                                                                           UpdateTargetId = "grid",
                                                                                           InsertionMode = InsertionMode.Replace
                                                                                       })
        @Html.GetArrow((string)ViewBag.sortOrder, "title", (string)ViewBag.sortDir)
        @*@Html.DisplayNameFor(model => model.Title)*@
    </th>
    <th>
        @Html.ActionLink("Content", "Index", new { sortOrder = "content", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
   {
       HttpMethod = "GET",
       UpdateTargetId = "grid",
       InsertionMode = InsertionMode.Replace
   })
        @Html.GetArrow((string)ViewBag.sortOrder, "content", (string)ViewBag.sortDir)
        @*@Html.DisplayNameFor(model => model.Content)*@
    </th>
    <th>
        @Html.ActionLink("CreatedOn", "Index", new { sortOrder = "createdon", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
   {
       HttpMethod = "GET",
       UpdateTargetId = "grid",
       InsertionMode = InsertionMode.Replace
   })
        @Html.GetArrow((string)ViewBag.sortOrder, "createdon", (string)ViewBag.sortDir)
        @*@Html.DisplayNameFor(model => model.CreatedOn)*@
    </th>
    <th>
        @Html.ActionLink("UpdatedOn", "Index", new { sortOrder = "updatedon", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
   {
       HttpMethod = "GET",
       UpdateTargetId = "grid",
       InsertionMode = InsertionMode.Replace
   })
        @Html.GetArrow((string)ViewBag.sortOrder, "updatedon", (string)ViewBag.sortDir)
        @*@Html.DisplayNameFor(model => model.UpdatedOn)*@
    </th>
    <th>
        @Html.ActionLink("PostedOn", "Index", new { sortOrder = "postedon", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
   {
       HttpMethod = "GET",
       UpdateTargetId = "grid",
       InsertionMode = InsertionMode.Replace
   })
        @Html.GetArrow((string)ViewBag.sortOrder, "postedon", (string)ViewBag.sortDir)
        @*@Html.DisplayNameFor(model => model.PostedOn)*@
    </th>
    <th>
        @Html.ActionLink("UserFullName", "Index", new { sortOrder = "userfullname", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.currentFilter }, new AjaxOptions()
   {
       HttpMethod = "GET",
       UpdateTargetId = "grid",
       InsertionMode = InsertionMode.Replace
   })
        @Html.GetArrow((string)ViewBag.sortOrder, "userfullname", (string)ViewBag.sortDir)
        @*@Html.DisplayNameFor(model => model.UserFullName)*@
    </th>
    <th>
        @*@Html.DisplayNameFor(model => model.Photo)*@
        Photo
    </th>
    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @item.CreatedOn.ToShortDateString()
        </td>
        <td>
            @item.UpdatedOn.ToShortDateString()
        </td>
        <td>
            @item.PostedOn.ToString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFullName)
        </td>
        <td>
            @if (item.Photo != null)
            {
                @Html.GetThumbnail(item.Photo)
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

@*@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.sortOrder, sortDir = ViewBag.sortDir, currentFilter = ViewBag.currentFilter }))*@

@Html.PagedListPager(
    Model,
    page=>Url.Action("Index",
                     new { page, sortOrder = ViewBag.sortOrder, sortDir = ViewBag.sortDir, currentFilter = ViewBag.currentFilter }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                                                        new AjaxOptions()
                                                        {
                                                        HttpMethod="GET",
                                                        UpdateTargetId = "grid"
                                                        }
        )
    )
